[Desktop Entry]
Version=1.0
Type=Link
Name=Inside The Bulb: Adventures in Reverse Engineering Smart Bulb Firmware | Hacker Noon
Comment=
Icon=user-bookmarks
URL=https://hackernoon.com/inside-the-bulb-adventures-in-reverse-engineering-smart-bulb-firmware-1b81ce2694a6
