[Desktop Entry]
Version=1.0
Type=Link
Name=OpenMiHome/mihome-binary-protocol
Comment=
Icon=user-bookmarks
URL=https://github.com/OpenMiHome/mihome-binary-protocol
